@model IEnumerable<Infrastructure.TelephoneNote>

<p>

</p>

<div id="textbox" style="width:85%;margin: 0 auto">
    <p style="float:left">
        @Html.ActionLink("Create New", "Create")
    </p>
    <p style="float:right;margin-right: 15px">
        @Html.ActionLink("Change source", "ChangeSource")
        Current Source: @ViewBag.CurrentSource
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("TelephoneNoteDisplay", item)
    }

</table>
